In [3]:
import pandas as pd
import re

import sys
sys.path.append("..")

In [2]:
df = pd.read_csv("titanic.csv", index_col="PassengerId")
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [15]:
def write_answer_to_file(answer, filename):
    with open(filename, 'w') as f_out:
        f_out.write(str(round(answer, 2)))

1. Какое количество мужчин и женщин ехало на корабле?

In [17]:
sex_counts = df["Sex"].value_counts()
answer1 = sex_counts['male'] 
answer_1 = sex_counts['female']
print (f"{sex_counts['male']} {sex_counts['female']}")
write_answer_to_file(answer1 and answer_1, '1.txt')

577 314

2. Какой части пассажиров удалось выжить?

In [16]:
survived_counts = df["Survived"].value_counts()
survived_percent = 100.0 * survived_counts[1] / survived_counts.sum()
print(f"{survived_percent:.2f}")
write_answer_to_file(survived_percent, '2.txt')

38.38

3. Какую долю пассажиры первого класса составляли среди всех пассажиров?

In [18]:
pclass_counts = df["Pclass"].value_counts()
pclass_percent = 100.0 * pclass_counts[1] / pclass_counts.sum()
print(f"{pclass_percent:.2f}")
write_answer_to_file(pclass_percent, '3.txt')

24.24

4. Какого возраста были пассажиры? (Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа через пробел)

In [19]:
ages = df["Age"].dropna()
print(f"{ages.mean():.2f} {ages.median():.2f}")
write_answer_to_file(ages.mean(), '4.txt')

29.70 28.00

5. Коррелируют ли число братьев/сестер с числом родителей/детей? (Посчитайте корреляцию Пирсона между признаками SibSp и Parch)

In [20]:
corr = df["SibSp"].corr(df["Parch"])
print(f"{corr:.2f}")
write_answer_to_file(corr, '5.txt')

0.41

In [ ]:
6. Какое самое популярное женское имя на корабле?

In [11]:
def clean_name(name: str) -> str:
    # Первое слово до запятой - фамилия
    match = re.search("^[^,]+, (.*)", name)
    if match:
        name = match[1]

    # Если есть скобки - то имя пассажира в них
    match = re.search("\(([^)]+)\)", name)
    if match:
        name = match[1]

    # Удаляем обращения
    name = re.sub("(Miss\. |Mrs\. |Ms\. )", "", name)

    # Берем первое оставшееся слово и удаляем кавычки
    name = name.split(" ")[0].replace("\"", "")

    return name

In [12]:
names = df[df["Sex"] == "female"]["Name"].map(clean_name)
names.head()

PassengerId
2      Florence
3         Laina
4          Lily
9     Elisabeth
10        Adele
Name: Name, dtype: object

In [21]:
print(names.mode()[0])
answer6 = names.mode()[0]

Anna

In [25]:
def write_answer_to_file(answer, filename):
    with open(filename, 'w') as f_out:
        f_out.write(str(answer))

In [26]:
write_answer_to_file(answer6, '6.txt')